*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* shared style section */
.common-btn{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    margin-top: 25px;
}
/* header related style */
header{
    background: rgba(255, 144, 14, 0.10);
}
/* nav related style start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.site-title{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;

}
nav > ul{
    display: flex;
    
}
ul > li {
    margin-right: 20px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}

ul > li >  a{
    color: var(--dark-02, #424242);
    text-decoration: none;
}
/* banner related style end */
/* banner related style start  */
.banner-container{
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
    margin-bottom: 20px;
}
.banner-description{
    color: var(--dark-03, #727272);
    font-weight: 400;
    font-size: 1rem;
}
.img-banner{
    margin-left: 245px;
    margin-bottom: 40px;
}
/* banner related end */

/* featured related style start */
.featured{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 75px;
    margin-bottom: 120px;
   
}
.featured-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.mid{
    color: var(--dark-01, #131313);
    font-weight: 700;
    font-size: 2.8rem;
    
}
.quick{
    color: var(--dark-03, #727272);
   font-weight: 500;
   font-size: 2.8rem;
   
}
.Features{
    color: #FF900E;
    font-weight: 700;
    font-size: 2.8rem;
    
}
.featured-description{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 19px;
}
/*  */
.featured-two{
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 180px;
    margin-top: 35px;
    gap: 120px;
}
.featured-two-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 22px;

}
.card-two > h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-01, #131313);
    padding-bottom: 6px;
}
.card-two > p{
    font-size: .9rem;
    font-weight: 400;
    color: var(--dark-03, #727272);

}
.card-two{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 25px;
    padding: 38px 29px;
    margin-bottom: 15px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    padding: 45px 42px;
    text-align: center;
    color: white;
    width: 200px;
    height: 80px;
    position: relative;
    bottom: 130px;
    margin-left: -60px;
    
    
    
}
.ten-years-badge > h1{
    font-size: 2.8rem;
}
.ten-years-badge  small{
    font-size: 1.30rem;
}
/* featured related style end */
/* fact related style start */
.fact-title{
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 25px;
    

}
.fact-desc , .fact-title{
    margin-left: 130px;
}
.fact-desc{
    margin-bottom: 90px;
}
/* fact related style end */

/* achievement related style start */

.achievement-container{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 150px;
   
}
.achievement-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.achieve-number{
    font-size: 2.8rem;
    color: var(--dark-02, #424242);
    margin-top: 5px;

}
.achieve-desc{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-03, #727272);
    margin-bottom: 10px;

}
/* achievement related style end */
/* sponsor related style start */
.sponsor{
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-01, #131313);
    margin-bottom: 20px;
    
}
.sponsor-description{
    font-size: 1.rem;
    font-weight: 500;
    color: var(--dark-03, #727272);
    margin-bottom: 40px;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 140px;
}
/* sponsor related style end */

footer{
    border-radius: 8px;
    background: #FFF4E7;
    width: 70%;
    margin: auto;
    padding: 35px 100px;
    text-align: center;
    margin-bottom: 150px;
}
footer > h3{
    color: var(--dark-02, #424242);
    font-size: 20px;
    font-weight: 400;

}
/* media query  */
@media screen and (max-width: 576px){
    nav , 
    .featured ,
    .featured-two ,
    .achievement-container ,
    .sponsor-img-container{
        flex-direction: column;
    }
    .img-banner{
        width: 80%;
        margin: 10px 35px;    
    }
    .featured-img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .featured-info-container{
        text-align: center;
        padding: 5px;
    }
    .achievement-container .card{
      padding:15px;
      width: 40%;
      margin: auto;
              
        
    }
    
    .achievement-container{
        gap: 15px;
    }
    .fact-desc , .fact-title{
       margin: 20px;
       text-align: center;
    }
    .sponsor-img-container{
        gap: 18px;
    }
    footer{
        padding: 20px;
        margin-bottom: 80px;
    }
    .featured-two-img-container img{
        width: 100%;
    }
    .ten-years-badge{
        padding: 20px;
        margin-left: 54.5px;
        top: 30px;
    }
}